<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chats</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="d-flex align-items-center vh-100">                          <!--whole body-->
            
            
            <div class="container border rounded w-75 d-flex flex-column px-0 py-0 " style="min-height: 600px;">  <!--container itself-->
                
                <div class="container bg-light rounded-top d-flex flex-row px-0 py-0 border-bottom">                 <!--header row-->
                    <button class="btn btn-transparent border-0 rounded-0 d-flex justify-content-between" style="width: 30%;">     <!--add new chat-->
                        <span class="d-none d-sm-block mx-2 my-auto">Direct messages</span>
                        <span class="mx-auto mx-sm-2 my-auto"><big>+</big></span>
                    </button>

                    <div class="py-1 px-1 border-start" style="width: 70%;">            <!--who you're texting-->
                        <div class="p-0">
                            <img src="../static/images/pfp.png" width="50">
                            <span class="align-middle">Friend Username#0000</span>
                        </div>
                    </div>
                </div>

                <div class="container rounded-bottom d-flex flex-grow-1 flex-row px-0 py-0">                <!--body row-->
                    
                    <div class="d-flex flex-column overflow-auto px-3 py-3" style="width: 30%;">               <!--Chat list div-->
                            
                        <a href="#" class="text-decoration-none">
                            <button class="btn rounded-0 border-0 border-top border-bottom d-flex align-items-center p-0 w-100">
                                <img src="../static/images/pfp.png" width="50">
                                <span>Friend 1</span>
                            </button>
                        </a>
                    
                    </div>

                    <div class="container d-flex flex-column border-start" style="width: 70%;">         <!--chatbox-->
                        
                        <div class="container border mx-0">                                      <!--messages-->
                            <div class="container mt-3">
                                <div class="border w-25 me-auto">Other person's message</div>
                            </div>
                                    
                            <div class="container mt-3">
                                <div class="border w-25 me-auto">My message</div>
                            </div>
                        </div>
                                
                        <div class="container border">
                            <form action="">
                                <input type="text" placeholder="Message">
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    
                    
                    </div>


                </div>
            
            </div>    
        
        
        
        
        
        
        
        
        
        
        </div>
        
    </body>
</html>